@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
font-family: 'Roboto', sans-serif;
color: white;
}
body {
overflow: hidden;
}
.nav {
	width: 100%;
	padding: 2px;
	background-color: #262626;
	color: white;
}
a {
	padding: 2px;
	color: white;
	}

.editor {
background-color: #0c0c0c;
width: 100%;
height: 90%;
margin: 4px;
max-height: 90%;
overflow-y: scroll;
}

.sel {
	background-color: #333333;
}
td {
	letter-spacing: 2px;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

u {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.fl {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
